.section.highlights {
  background: transparent;
  margin-top: -10rem;

  @include medium-and-down {
    margin-top: -5rem;
  }

  .section__column {
    padding-top: 0;
  }

  .highlights__container {

    .Grid-cell.highlights__container--column {
      background: $white;
      border-radius: .25rem;
      text-align: center;
      padding: 2rem  0;
      font-size: 1.125rem;
      color: $black;
      padding: 1.5rem;
      border: 1px solid $medium-grey;

      &:nth-child(2) {
        margin: 0 1rem;
      }

      .icon-container {
        display: inline-block;
        border-radius: 100px;
        height: 7rem;
        width: 7rem;
        margin: .5rem 0 1rem;

        i {
          background-repeat: no-repeat;
          background-size: contain;
          height: 6rem;
          width: 6rem;
          display: block;
          background-position: center;
          margin: 1rem auto 0rem;

          &.icon-designer {
            background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20640%22%20x%3D%220px%22%20y%3D%220px%22%3E%3Cg%3E%3Cpath%20d%3D%22M29.657%2C258.343A8%2C8%2C0%2C0%2C0%2C16%2C264V488a8%2C8%2C0%2C0%2C0%2C8%2C8H248a8%2C8%2C0%2C0%2C0%2C5.657-13.657ZM32%2C480V283.313L228.687%2C480Z%22%2F%3E%3Cpath%20d%3D%22M72%2C448h64a8%2C8%2C0%2C0%2C0%2C5.657-13.657l-64-64A8%2C8%2C0%2C0%2C0%2C64%2C376v64A8%2C8%2C0%2C0%2C0%2C72%2C448Zm8-52.686L116.687%2C432H80Z%22%2F%3E%3Crect%20x%3D%22104%22%20y%3D%2248%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%3Crect%20x%3D%22136%22%20y%3D%2248%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%3Crect%20x%3D%22168%22%20y%3D%2248%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%3Cpath%20d%3D%22M180.756%2C160.7A7.884%2C7.884%2C0%2C0%2C0%2C176%2C168v88a8%2C8%2C0%2C0%2C0%2C4.751%2C7.311l72%2C32a7.968%2C7.968%2C0%2C0%2C0%2C6.5-.006l0%2C.006%2C72-32A8%2C8%2C0%2C0%2C0%2C336%2C256V168a7.884%2C7.884%2C0%2C0%2C0-4.756-7.3l0-.011-72-32a8.01%2C8.01%2C0%2C0%2C0-6.5%2C0l-72%2C32ZM248%2C275.69%2C192%2C250.8V180.31L248%2C205.2ZM320%2C250.8%2C264%2C275.69V205.2l56-24.889ZM256%2C144.754%2C308.3%2C168%2C256%2C191.245%2C203.7%2C168Z%22%2F%3E%3Crect%20x%3D%22248%22%20y%3D%22320%22%20width%3D%2216%22%20height%3D%2240%22%2F%3E%3Crect%20x%3D%22248%22%20y%3D%2272%22%20width%3D%2216%22%20height%3D%2240%22%2F%3E%3Crect%20x%3D%22128.75%22%20y%3D%22133.438%22%20width%3D%2216%22%20height%3D%2237.125%22%20transform%3D%22translate%28-59.345%20209.889%29%20rotate%28-64.47%29%22%2F%3E%3Crect%20x%3D%22356.688%22%20y%3D%22144%22%20width%3D%2237.125%22%20height%3D%2216%22%20transform%3D%22translate%28-28.87%20176.566%29%20rotate%28-25.53%29%22%2F%3E%3Crect%20x%3D%22118.188%22%20y%3D%22272%22%20width%3D%2237.125%22%20height%3D%2216%22%20transform%3D%22translate%28-107.333%2086.288%29%20rotate%28-25.533%29%22%2F%3E%3Cpath%20d%3D%22M488%2C384H440V259.314l47.03-47.03a30.627%2C30.627%2C0%2C1%2C0-43.314-43.313L440%2C172.687V104a8%2C8%2C0%2C0%2C0-2.343-5.657l-80-80A8%2C8%2C0%2C0%2C0%2C352%2C16H104A32.036%2C32.036%2C0%2C0%2C0%2C72%2C48V280H88V48a16.019%2C16.019%2C0%2C0%2C1%2C16-16H344V80a32.036%2C32.036%2C0%2C0%2C0%2C32%2C32h48v76.686L298.343%2C314.343a8.008%2C8.008%2C0%2C0%2C0-2.188%2C4.088l-8%2C40a8%2C8%2C0%2C0%2C0%2C9.414%2C9.414l40-8a8%2C8%2C0%2C0%2C0%2C4.088-2.188L424%2C275.314V384H264a8%2C8%2C0%2C0%2C0-8%2C8v24H216v16h40v24a8%2C8%2C0%2C0%2C0%2C8%2C8H488a8%2C8%2C0%2C0%2C0%2C8-8V392A8%2C8%2C0%2C0%2C0%2C488%2C384ZM360%2C80V43.314L412.686%2C96H376A16.019%2C16.019%2C0%2C0%2C1%2C360%2C80ZM315.314%2C320%2C440%2C195.314%2C460.686%2C216%2C336%2C340.686ZM465.373%2C176a14.628%2C14.628%2C0%2C0%2C1%2C10.343%2C24.971L472%2C204.686%2C451.314%2C184l3.716-3.716A14.529%2C14.529%2C0%2C0%2C1%2C465.373%2C176ZM308.913%2C336.227l10.86%2C10.86L306.2%2C349.8ZM480%2C448H272V400h16v16h16V400h16v16h16V400h16v16h16V400h16v16h16V400h16v16h16V400h16v16h16V400h16Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
          }

          &.icon-developer {
            background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2080%22%20x%3D%220px%22%20y%3D%220px%22%3E%3Ctitle%3Ea%3C%2Ftitle%3E%3Cg%20data-name%3D%2209%20Prototype%20of%20Web%20Design%22%3E%3Cpath%20d%3D%22M56%2C8H22.358A7.01%2C7.01%2C0%2C0%2C0%2C18.33%2C4.056%2C1%2C1%2C0%2C0%2C0%2C17%2C5V8a1%2C1%2C0%2C0%2C1-.141.508.975.975%2C0%2C0%2C1-1.032.476.96.96%2C0%2C0%2C1-.66-.483A1.226%2C1.226%2C0%2C0%2C1%2C15%2C7.89V5a1%2C1%2C0%2C0%2C0-1.33-.944A7.009%2C7.009%2C0%2C0%2C0%2C9.641%2C8H8a5.006%2C5.006%2C0%2C0%2C0-5%2C5V45a5.006%2C5.006%2C0%2C0%2C0%2C5%2C5H20v4.1A5.016%2C5.016%2C0%2C0%2C0%2C16.1%2C58H11a1%2C1%2C0%2C0%2C0%2C0%2C2H53a1%2C1%2C0%2C0%2C0%2C0-2H47.9A5.016%2C5.016%2C0%2C0%2C0%2C44%2C54.1V50H56a5.006%2C5.006%2C0%2C0%2C0%2C5-5V13A5.006%2C5.006%2C0%2C0%2C0%2C56%2C8ZM13%2C6.71V7.89A3.239%2C3.239%2C0%2C0%2C0%2C13.435%2C9.5a2.958%2C2.958%2C0%2C0%2C0%2C2.057%2C1.454A3%2C3%2C0%2C0%2C0%2C19%2C8V6.711a5.67%2C5.67%2C0%2C0%2C1%2C1.724%2C2.614A5.135%2C5.135%2C0%2C0%2C1%2C21%2C11a4.958%2C4.958%2C0%2C0%2C1-1.5%2C3.563A4.944%2C4.944%2C0%2C0%2C0%2C18%2C18.13V34H14V18.13a5%2C5%2C0%2C0%2C0-1.5-3.564A4.964%2C4.964%2C0%2C0%2C1%2C11%2C11a5.188%2C5.188%2C0%2C0%2C1%2C.282-1.7A5.639%2C5.639%2C0%2C0%2C1%2C13%2C6.71ZM8%2C10H9.068A7.378%2C7.378%2C0%2C0%2C0%2C9%2C11a6.952%2C6.952%2C0%2C0%2C0%2C2.1%2C5A2.994%2C2.994%2C0%2C0%2C1%2C12%2C18.13V34H10a1%2C1%2C0%2C0%2C0%2C0%2C2H22a1%2C1%2C0%2C0%2C0%2C0-2H20V18.13a2.958%2C2.958%2C0%2C0%2C1%2C.9-2.137A6.949%2C6.949%2C0%2C0%2C0%2C23%2C11a7.378%2C7.378%2C0%2C0%2C0-.068-1H56a3%2C3%2C0%2C0%2C1%2C3%2C3V40H5V13A3%2C3%2C0%2C0%2C1%2C8%2C10ZM45.829%2C58H18.171A3.006%2C3.006%2C0%2C0%2C1%2C21%2C56H43A3.006%2C3.006%2C0%2C0%2C1%2C45.829%2C58ZM42%2C54H22V50H42Zm14-6H8a3%2C3%2C0%2C0%2C1-3-3V42H59v3A3%2C3%2C0%2C0%2C1%2C56%2C48Z%22%2F%3E%3Ccircle%20cx%3D%2253.005%22%20cy%3D%2245.005%22%20r%3D%221.005%22%2F%3E%3Cpath%20d%3D%22M49%2C25h6a2%2C2%2C0%2C0%2C0%2C2-2V17a2%2C2%2C0%2C0%2C0-2-2H49a2%2C2%2C0%2C0%2C0-2%2C2v6A2%2C2%2C0%2C0%2C0%2C49%2C25Zm0-8h6v6H49Z%22%2F%3E%3Cpath%20d%3D%22M34%2C27a1%2C1%2C0%2C0%2C0%2C.707-.293l1.782-1.782A1.96%2C1.96%2C0%2C0%2C0%2C37%2C25h6a2%2C2%2C0%2C0%2C0%2C2-2V17a2%2C2%2C0%2C0%2C0-2-2H37a2%2C2%2C0%2C0%2C0-2%2C2v6a1.96%2C1.96%2C0%2C0%2C0%2C.075.511L33.586%2C25H23a1%2C1%2C0%2C0%2C0%2C0%2C2Zm3-10h6v6H37Z%22%2F%3E%3Cpath%20d%3D%22M23%2C23h8a1%2C1%2C0%2C0%2C0%2C0-2H23a1%2C1%2C0%2C0%2C0%2C0%2C2Z%22%2F%3E%3Cpath%20d%3D%22M23%2C19h2a1%2C1%2C0%2C0%2C0%2C0-2H23a1%2C1%2C0%2C0%2C0%2C0%2C2Z%22%2F%3E%3Cpath%20d%3D%22M29%2C19h2a1%2C1%2C0%2C0%2C0%2C0-2H29a1%2C1%2C0%2C0%2C0%2C0%2C2Z%22%2F%3E%3Cpath%20d%3D%22M56%2C29H36a1%2C1%2C0%2C0%2C0%2C0%2C2H56a1%2C1%2C0%2C0%2C0%2C0-2Z%22%2F%3E%3Cpath%20d%3D%22M49%2C33H36a1%2C1%2C0%2C0%2C0%2C0%2C2H49a1%2C1%2C0%2C0%2C0%2C0-2Z%22%2F%3E%3Cpath%20d%3D%22M56%2C33H53a1%2C1%2C0%2C0%2C0%2C0%2C2h3a1%2C1%2C0%2C0%2C0%2C0-2Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
          }

          &.icon-leader {
            background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2064%2080%22%20style%3D%22enable-background%3Anew%200%200%2064%2064%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M2%2C55v6c0%2C0.552%2C0.448%2C1%2C1%2C1h14c0.552%2C0%2C1-0.448%2C1-1v-6c0-3.14-1.823-5.856-4.463-7.165C15.027%2C46.743%2C16%2C44.985%2C16%2C43%20%20c0-3.309-2.691-6-6-6s-6%2C2.691-6%2C6c0%2C1.985%2C0.973%2C3.743%2C2.463%2C4.835C3.823%2C49.144%2C2%2C51.86%2C2%2C55z%20M10%2C49%20%20c0.335%2C0%2C0.662%2C0.034%2C0.982%2C0.088C10.936%2C49.596%2C10.52%2C50%2C10%2C50s-0.936-0.404-0.982-0.912C9.338%2C49.034%2C9.665%2C49%2C10%2C49z%20M10%2C39%20%20c1.291%2C0%2C2.429%2C0.625%2C3.161%2C1.577C12.16%2C40.2%2C11.097%2C40%2C10%2C40s-2.16%2C0.2-3.161%2C0.577C7.571%2C39.625%2C8.709%2C39%2C10%2C39z%20M6.027%2C43.268%20%20C7.205%2C42.451%2C8.563%2C42%2C10%2C42s2.795%2C0.451%2C3.973%2C1.268C13.832%2C45.347%2C12.114%2C47%2C10%2C47S6.168%2C45.347%2C6.027%2C43.268z%20M7.106%2C49.747%20%20C7.44%2C51.039%2C8.605%2C52%2C10%2C52s2.56-0.961%2C2.894-2.253C14.744%2C50.771%2C16%2C52.741%2C16%2C55v5H4v-5C4%2C52.741%2C5.256%2C50.771%2C7.106%2C49.747z%22%2F%3E%3Cpath%20d%3D%22M55%2C40v-8c0-3.672-2.214-6.833-5.374-8.231C51.065%2C22.672%2C52%2C20.945%2C52%2C19c0-3.309-2.691-6-6-6s-6%2C2.691-6%2C6%20%20c0%2C1.945%2C0.934%2C3.671%2C2.372%2C4.768c-1.006%2C0.443-1.936%2C1.067-2.742%2C1.867C37.934%2C27.343%2C37%2C29.604%2C37%2C32v8c0%2C0.552%2C0.448%2C1%2C1%2C1h16%20%20C54.552%2C41%2C55%2C40.552%2C55%2C40z%20M46%2C26.692l0.936%2C2.339L46%2C31.838l-0.936-2.807L46%2C26.692z%20M46%2C15c1.291%2C0%2C2.429%2C0.625%2C3.161%2C1.577%20%20C48.16%2C16.2%2C47.097%2C16%2C46%2C16s-2.16%2C0.2-3.161%2C0.577C43.571%2C15.625%2C44.709%2C15%2C46%2C15z%20M42.027%2C19.268C43.205%2C18.451%2C44.563%2C18%2C46%2C18%20%20s2.795%2C0.451%2C3.973%2C1.268C49.832%2C21.347%2C48.114%2C23%2C46%2C23S42.168%2C21.347%2C42.027%2C19.268z%20M53%2C39H39v-7%20%20c0-1.865%2C0.728-3.625%2C2.044-4.951c0.954-0.947%2C2.131-1.583%2C3.407-1.871l-1.38%2C3.45c-0.087%2C0.22-0.095%2C0.463-0.02%2C0.688l2%2C6%20%20C45.188%2C35.725%2C45.569%2C36%2C46%2C36s0.812-0.275%2C0.949-0.684l2-6c0.075-0.225%2C0.067-0.468-0.02-0.688l-1.38-3.45%20%20C50.665%2C25.886%2C53%2C28.673%2C53%2C32V39z%22%2F%3E%3Cpath%20d%3D%22M61.948%2C8.792c-0.119-0.355-0.427-0.614-0.798-0.671l-5.001-0.759l-2.244-4.786C53.741%2C2.224%2C53.388%2C2%2C53%2C2%20%20s-0.741%2C0.224-0.905%2C0.576l-2.244%2C4.786L44.85%2C8.121c-0.371%2C0.057-0.679%2C0.315-0.798%2C0.671s-0.029%2C0.748%2C0.232%2C1.016l2%2C2.05%20%20l1.432-1.396l-0.64-0.656l3.604-0.547c0.33-0.05%2C0.613-0.262%2C0.755-0.564L53%2C5.356l1.565%2C3.338c0.142%2C0.303%2C0.425%2C0.514%2C0.755%2C0.564%20%20l3.604%2C0.547l-2.64%2C2.706c-0.221%2C0.227-0.322%2C0.545-0.271%2C0.858l0.61%2C3.76l-3.139-1.735l-0.968%2C1.75l4.94%2C2.73%20%20C57.607%2C19.958%2C57.774%2C20%2C57.94%2C20c0.202%2C0%2C0.404-0.062%2C0.576-0.182c0.313-0.221%2C0.473-0.6%2C0.412-0.978l-0.859-5.292l3.648-3.739%20%20C61.978%2C9.54%2C62.067%2C9.147%2C61.948%2C8.792z%22%2F%3E%3Cpath%20d%3D%22M29%2C6H8C6.897%2C6%2C6%2C6.897%2C6%2C8v17c0%2C1.103%2C0.897%2C2%2C2%2C2h21c1.103%2C0%2C2-0.897%2C2-2v-5.674l5.725%2C1.636%20%20c0.438%2C0.125%2C0.905-0.062%2C1.137-0.454c0.231-0.393%2C0.167-0.892-0.155-1.214L31%2C12.586V8C31%2C6.897%2C30.103%2C6%2C29%2C6z%20M33.564%2C17.979%20%20l-2.014-0.576c-0.611-0.175-1.249-0.054-1.754%2C0.326C29.29%2C18.11%2C29%2C18.692%2C29%2C19.326V25H8V8h21v4.586%20%20c0%2C0.534%2C0.208%2C1.036%2C0.586%2C1.414L33.564%2C17.979z%22%2F%3E%3Cpath%20d%3D%22M26%2C59h13c1.103%2C0%2C2-0.897%2C2-2V46c0-1.103-0.897-2-2-2H26c-1.103%2C0-2%2C0.897-2%2C2v2.819l-4.835-0.806%20%20c-0.446-0.075-0.885%2C0.159-1.074%2C0.569c-0.188%2C0.411-0.078%2C0.896%2C0.269%2C1.185l5.64%2C4.7V57C24%2C58.103%2C24.897%2C59%2C26%2C59z%20%20%20M22.473%2C50.593l2.362%2C0.394c0.287%2C0.047%2C0.586-0.034%2C0.811-0.223C25.871%2C50.573%2C26%2C50.294%2C26%2C50v-4h13v11H26v-3%20%20c0-0.297-0.132-0.578-0.36-0.768L22.473%2C50.593z%22%2F%3E%3Crect%20x%3D%2228%22%20y%3D%2248%22%20width%3D%222%22%20height%3D%222%22%2F%3E%3Crect%20x%3D%2232%22%20y%3D%2248%22%20width%3D%225%22%20height%3D%222%22%2F%3E%3Crect%20x%3D%2228%22%20y%3D%2253%22%20width%3D%222%22%20height%3D%222%22%2F%3E%3Crect%20x%3D%2232%22%20y%3D%2253%22%20width%3D%225%22%20height%3D%222%22%2F%3E%3Cpath%20d%3D%22M15.962%2C19.547l-3.255-3.254l-1.414%2C1.414l4%2C4C15.48%2C21.895%2C15.735%2C22%2C16%2C22c0.009%2C0%2C0.018%2C0%2C0.026%2C0%20%20c0.274-0.007%2C0.533-0.126%2C0.717-0.331l9-10l-1.486-1.338L15.962%2C19.547z%22%2F%3E%3C%2Fsvg%3E");
          }
        }
      }

      h3 {
        margin-bottom: 1.5rem;
      }

      p.highlights-copy {
        min-height: 6.25rem;
      }

      p.highlights-subtitle-1 {
        color: $blue;
        margin-top: 2rem;
        font-weight: 500;
      }

      p.highlights-subtitle-2 {
        color: $blue;
        margin-top: 0rem;
        font-weight: 500;
      }

      ul.highlights-list {
        margin:0;
        padding:0;

        li {
          list-style-type:none;
          font-weight: 300;
        }
      }


      // Tablet edits

      @include medium-and-down {

        .icon-container {
          display: none;
        }

        &:nth-child(1) {
          margin: 0 .5rem 0 0;
        }

        &:nth-child(2) {
          margin: 0 0rem 0 .5rem;
        }

        &:nth-child(3) {
          margin: 1rem 0 0 0;

          .highlights-subtitle-1 {
            margin-top: 0;
          }
        }
      }

      @include small-and-down {
        margin: .5rem 0 !important;

        .highlights-copy {
          min-height: initial !important;
          margin-bottom: 1.5rem;
        }

      }
    }
  }
}
