.section.testimonials {
  background: $white;

  .testimonials__content {
    margin-bottom: 6rem;

    @include small-and-down {
      margin-bottom: 3rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--profile {
      margin-top: 1.5rem;

      img {
        border-radius: 100px;
        width:  96px;
        height: 96px;
        display: block;
        margin: 0rem auto 1rem;
      }
    }

    &--quote {
      p {
        font-size: 18px;
        line-height: 32px;
        font-weight: lighter;
      }
    }

    &--credentials {
      text-align: center;

      .credentials-name {
        font-weight: $medium;
      }

      .credentials-company {
        font-size: 14px;
      }
    }
  }
}
