
// General structure ////
main {
  display: block;

  .section {
    width: 100vw;

    &__column {
      align-items: center;
      width: 100%;
      max-width: 1366px;
      margin: 0 auto;
      padding: 5.25rem 0;

      .section__content > .Grid-cell.Grid-cell__1of12:first-child,
      .section__content > .Grid-cell.Grid-cell__1of12:last-child {
        max-width: 2rem;
      }
    }

    @include medium-and-down {
      &__column {
        padding: 2.25rem 0;
      }
    }
  }
}


// Grid System /////////////////////////////////////////////////////////////////
.Grid {
  display: flex;
  flex-flow: row wrap;

  > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
  }

  &.Grid-wrap                       { flex-flow: row wrap;   > * { flex-grow: 1; flex-shrink: 0; flex-basis: auto; } }
  &.Grid-nowrap                     { flex-flow: row nowrap; > * { flex-grow: 1; flex-shrink: 1; flex-basis: auto; } }
  &.Grid-column                     { flex-flow: column;     > * { flex: none;  width: 100%; } }

  &.Grid-align__center                   { align-items: center; }

  > *,
  .Grid-cell {
    box-sizing: border-box;
    width: 100%;

    &.Grid-cell__1of12                     { width: calc(8.33333333% - 0rem); }
    &.Grid-cell__2of12                     { width: calc(16.6666667% - 0rem); }
    &.Grid-cell__3of12                     { width: calc(25.0000000% - 0rem); }
    &.Grid-cell__4of12                     { width: calc(33.3333333% - 0rem); }
    &.Grid-cell__6of12                     { width: calc(50.0000000% - 0rem); }
    &.Grid-cell__5of12                     { width: calc(41.6666667% - 0rem); }
    &.Grid-cell__7of12                     { width: calc(58.3333333% - 0rem); }
    &.Grid-cell__8of12                     { width: calc(66.6666667% - 0rem); }
    &.Grid-cell__9of12                     { width: calc(75.0000000% - 0rem); }
    &.Grid-cell__10of12                    { width: calc(83.3333333% - 0rem); }
    &.Grid-cell__11of12                    { width: calc(91.6666667% - 0rem); }
    &.Grid-cell__12of12                    { width: calc(100.000000% - 0rem); }

    // Hiding
    &.Grid-cell__hide                      { display: none; }

    // Re-ordering
    &.Grid-cell__reorder-first,
    &.Grid-cell__reorder-1                 {order: 1;  }
    &.Grid-cell__reorder-2                 {order: 2;  }
    &.Grid-cell__reorder-3                 {order: 3;  }
    &.Grid-cell__reorder-4                 {order: 4;  }
    &.Grid-cell__reorder-5                 {order: 5;  }
    &.Grid-cell__reorder-6                 {order: 6;  }
    &.Grid-cell__reorder-7                 {order: 7;  }
    &.Grid-cell__reorder-8                 {order: 8;  }
    &.Grid-cell__reorder-9                 {order: 9;  }
    &.Grid-cell__reorder-10                {order: 10; }
    &.Grid-cell__reorder-11                {order: 11; }
    &.Grid-cell__reorder-12,
    &.Grid-cell__reorder-last              {order: 12; }
  }
}


@include medium-and-down {
  .Grid {
    &.Grid-wrap--md                       { flex-flow: row wrap;   > * { flex-grow: 1; flex-shrink: 0; flex-basis: auto; } }
    &.Grid-nowrap--md                     { flex-flow: row nowrap; > * { flex-grow: 1; flex-shrink: 1; flex-basis: auto; } }
    &.Grid-column--md                     { flex-flow: column;     > * { flex: none;  width: 100%; } }

    &.Grid-align__center--md            { align-items: center; }

    > *,
    .Grid-cell {
      box-sizing: border-box;
      width: 100%;

      &.Grid-cell__1of12--md              { width: calc(8.33333333% - 0rem); }
      &.Grid-cell__2of12--md              { width: calc(16.6666667% - 0rem); }
      &.Grid-cell__3of12--md              { width: calc(25.0000000% - 0rem); }
      &.Grid-cell__4of12--md              { width: calc(33.3333333% - 0rem); }
      &.Grid-cell__6of12--md              { width: calc(50.0000000% - 0rem); }
      &.Grid-cell__5of12--md              { width: calc(41.6666667% - 0rem); }
      &.Grid-cell__7of12--md              { width: calc(58.3333333% - 0rem); }
      &.Grid-cell__8of12--md              { width: calc(66.6666667% - 0rem); }
      &.Grid-cell__9of12--md              { width: calc(75.0000000% - 0rem); }
      &.Grid-cell__10of12--md             { width: calc(83.3333333% - 0rem); }
      &.Grid-cell__11of12--md             { width: calc(91.6666667% - 0rem); }
      &.Grid-cell__12of12--md             { width: calc(100.000000% - 0rem); }

      // Hiding
      &.Grid-cell__hide--md               { display: none; }

      // Re-ordering
      &.Grid-cell__reorder-first--md,
      &.Grid-cell__reorder-1--md              {order: 1;  }
      &.Grid-cell__reorder-2--md              {order: 2;  }
      &.Grid-cell__reorder-3--md              {order: 3;  }
      &.Grid-cell__reorder-4--md              {order: 4;  }
      &.Grid-cell__reorder-5--md              {order: 5;  }
      &.Grid-cell__reorder-6--md              {order: 6;  }
      &.Grid-cell__reorder-7--md              {order: 7;  }
      &.Grid-cell__reorder-8--md              {order: 8;  }
      &.Grid-cell__reorder-9--md              {order: 9;  }
      &.Grid-cell__reorder-10--md             {order: 10; }
      &.Grid-cell__reorder-11--md             {order: 11; }
      &.Grid-cell__reorder-12--md,
      &.Grid-cell__reorder-last--md           {order: 12; }
    }
  }
}

@include small-and-down {
  .Grid {
    &.Grid-wrap--sm                       { flex-flow: row wrap;   > * { flex-grow: 1; flex-shrink: 0; flex-basis: auto; } }
    &.Grid-nowrap--sm                     { flex-flow: row nowrap; > * { flex-grow: 1; flex-shrink: 1; flex-basis: auto; } }
    &.Grid-column--sm                     { flex-flow: column;     > * { flex: none;  width: 100%; } }

    &.Grid-align__center--sm            { align-items: center; }

    > *,
    .Grid-cell {
      box-sizing: border-box;
      width: 100%;

      &.Grid-cell__1of12--sm              { width: calc(8.33333333% - 0rem); }
      &.Grid-cell__2of12--sm              { width: calc(16.6666667% - 0rem); }
      &.Grid-cell__3of12--sm              { width: calc(25.0000000% - 0rem); }
      &.Grid-cell__4of12--sm              { width: calc(33.3333333% - 0rem); }
      &.Grid-cell__6of12--sm              { width: calc(50.0000000% - 0rem); }
      &.Grid-cell__5of12--sm              { width: calc(41.6666667% - 0rem); }
      &.Grid-cell__7of12--sm              { width: calc(58.3333333% - 0rem); }
      &.Grid-cell__8of12--sm              { width: calc(66.6666667% - 0rem); }
      &.Grid-cell__9of12--sm              { width: calc(75.0000000% - 0rem); }
      &.Grid-cell__10of12--sm             { width: calc(83.3333333% - 0rem); }
      &.Grid-cell__11of12--sm             { width: calc(91.6666667% - 0rem); }
      &.Grid-cell__12of12--sm             { width: calc(100.000000% - 0rem); }

      // Hiding
      &.Grid-cell__hide--sm               { display: none; }

      // Re-ordering
      &.Grid-cell__reorder-first--sm,
      &.Grid-cell__reorder-1--sm              {order: 1;  }
      &.Grid-cell__reorder-2--sm              {order: 2;  }
      &.Grid-cell__reorder-3--sm              {order: 3;  }
      &.Grid-cell__reorder-4--sm              {order: 4;  }
      &.Grid-cell__reorder-5--sm              {order: 5;  }
      &.Grid-cell__reorder-6--sm              {order: 6;  }
      &.Grid-cell__reorder-7--sm              {order: 7;  }
      &.Grid-cell__reorder-8--sm              {order: 8;  }
      &.Grid-cell__reorder-9--sm              {order: 9;  }
      &.Grid-cell__reorder-10--sm             {order: 10; }
      &.Grid-cell__reorder-11--sm             {order: 11; }
      &.Grid-cell__reorder-12--sm,
      &.Grid-cell__reorder-last--sm           {order: 12; }
    }
  }
}
