// Colors
$white:         hsl(216, 0%,   100%);
$black:         hsl(240, 3%,   12%);

$light-grey:    hsl(228, 29%,  97%);
$medium-grey:   hsl(240,  18%,  87%);
$grey:          hsl(240, 11%,  96%);
$dark-grey:     hsl(240, 0%,   49%);

$blue:          hsl(210, 100%, 40%);
$bright-blue:   hsl(216, 55%,  52%);
// $bright-blue:   hsl(198,  74%,  56%);

// Weights
$light:         300;
$regular:       400;
$medium:        500;
$bold:          900;
