// Globals
@import 'variables';
@import 'utilities';
@import 'structular';
@import 'typography';

// Horizontal sections
@import 'sections/hero';
@import 'sections/intro';
@import 'sections/highlights';
@import 'sections/designProcess';
@import 'sections/otherWork';
@import 'sections/testimonials';
@import 'sections/companies';
@import 'sections/closer';
@import 'sections/footer';

// Tools
@import 'simpleLightbox';
@import 'masonry';
@import 'reusables.scss';

* { box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  background: #FBFBFD;
  background: $light-grey;
}
